* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #18191A;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #242526;
    display: block;
    z-index: 12;
}
.navbar__search{
    display: flex;
}

.facebook__icon{
    margin: 8px 6px 8px 15px;
    z-index: 1;
    cursor: pointer;
}

.search__input{
    position: absolute;
    top: 8px;
    left: 63px;
    width: 240px;
    height: 42px;
    border-radius: 30px;
    border: none;
    background-color: #3A3B3C;
    outline: none;
    padding: 0 36px;
    font-size: 1.5rem;
    color: #C8CACE;
    transition: all ease .2s;
    z-index: 1;
}

.search__input::placeholder {
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
    position: relative;
    top: 1px;
    color: #A7AAAF;
}

.search__input:focus ~ .navbar__search--icon {
    /* display: none; */
    opacity: 0;
}

.search__input:focus {
    padding: 0 16px;
}

.search__input:focus ~ .facebook__icon {
    opacity: 0;
}

.navbar__search--icon{
    position: relative;
    font-size: 1.5rem;
    color: #A7AAAF;
    top: 22px;
    right: -15px;
    z-index: 1;
}

.navbar__search--icon-1 {
    color: #A7AAAF;
    position: relative;
    font-size: 2.2rem;
    top: 18px;
    right: 53px;
}

.navbar__search--icon-1::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    display: block;
    width: calc(100% + 16px);
    height:65%;
    background-color: rgba(225,225,225,.15);
    top: -7px;
    right: -8px;
}

.tag__icon{
    display: flex;
    height: 100%;
    margin: 0 37px;
}
.tag__icon-item{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}
.tag__icon-item.tag__icon-selection {
    border-bottom: 3px solid #2D88FF;
    cursor:default;
}

.tag__icon-item.tag__icon-selection .icon-item {
    color: #2D88FF;
}

.icon-item{
    display: block;
    color: #B8BBBF;
    font-size: 2.5rem;
}

.tag__icon-item::before {
    position: absolute;
    border-radius: 10px;
    content: "";
    width: 100%; height: 100%;
    background-color: rgba(225,225,225,.15);
    display: none;
}

.tag__icon-item:hover.tag__icon-item::before {
    display: block;
}

.tag__icon-item.tag__icon-selection:hover.tag__icon-item::before {
    display: none;
}

.navbar__info{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.info_uses{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    right: 10px;
    cursor: pointer;
}
.info_uses::after {
    position: absolute;
    content: "";
    width: calc(100% + 12px); height: 70%;
    background-color: rgba(225,225,225,.15);
    right: -6px;
    border-radius: 30px;
    display: none;
}
.info_uses:hover.info_uses::after {
    display: block;
}
.uses__avatar{
    border-radius: 50%;
    margin-right: 8px;
}
.info__name{
    font-size: 1.5rem;
    color: #D4D6DB;
    font-weight: 500;
}
.info__icon{
    display: flex;
}
.icon-list__item{
    font-size: 2rem;
    color: #B8BBBF;
    margin: 0 15px;
    position: relative;
    cursor: pointer;
}

.icon-list__item::after {
    position: absolute;
    border-radius: 50%;
    content: "";
    display: block;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgba(225,225,225,.15);
    top: -9px;
    right: -10px;
}

.icon-list__item:hover.icon-list__item::after {
    background-color: rgba(225,225,225,.5); 
}

.icon-list__item:nth-child(3) {
    width:21px; text-align: center;
}
.icon-list__item:nth-child(4) {
    width:19px; text-align: center;
}

.container {
    padding-top: 60px;
    height: 125vh;
}

.shortcut {
    max-width: 356px;
    position: fixed;
    height: 100%;
}

.shortcut-header {
    margin: 15px 10px;
    border-bottom: 1px solid rgba(225,225,225,.15);
}

.header__item {
    position: relative;
    display: flex;
    height: 50px; max-width: 100%;
    align-items: center;
    cursor: pointer;
}
.shortcut-avatar{
    border-radius: 50%;
    margin: 0 12px 0 6px;
}

.header__item-img {
    margin: 0 12px 0 6px;
}

.shortcut__titer{
    color: #E7E9ED;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.header__item::after {
    position: absolute;
    content: "";
    width: 100%; height: 100%;
    background-color: rgba(225,225,225,.15);
    border-radius: 10px;
    display: none; 
}
.header__item-arrow {
    position: relative;
    display: flex;
    font-size: 1.6rem;
    color: #E7E9ED;
    margin: 0 12px 0 6px;
    width: 38px; height: 38px;
    align-items: center;
    justify-content: center;
}

.header__item-arrow::after {
    position: absolute;
    content: "";
    width: 100%; height: 100%;
    background-color: rgba(225,225,225,.15);
    border-radius: 50%;
    top: -1px;
}

.header__item:last-child {
    margin-bottom: 10px;
}

.header__item:hover.header__item::after {
    display: block;
}
.shortcut-footer__uses{
    display: flex;
    justify-content: space-between;
}
.shortcut-footer__uses-title{
    color: #9b9ea2;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 5px 0 10px 6px;
}
.shortcut-footer__uses-edit{
    position: relative;
    font-size: 1.6rem;
    color: #3975bf;
    margin: 5px 0 10px 6px;
    cursor: pointer;
    display: none;
}

.shortcut-footer__uses-edit::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgba(225,225,225,.15);
    border-radius: 5px;
    right: -9px;
    bottom: -9px;
    display: none;
}

.shortcut-footer__uses-edit:hover.shortcut-footer__uses-edit::after {
    display: block;
}

.shortcut-footer__uses:hover .shortcut-footer__uses-edit {
    display: block;
}

.shortcut-footer{
    margin: 15px 10px;
}
.footer__item{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px; max-width: 100%;
    cursor: pointer;
}
.footer__item-img{
    border-radius: 10px;
    margin: 0 12px 0 6px;
}

.footer__item::after {
    position: absolute;
    content: "";
    width: 100%; height: 100%;
    background-color: rgba(225,225,225,.15);
    border-radius: 10px;
    display: none;
}

.footer__item:hover.footer__item::after {
    display: block;
}

.shortcut__copyright {
    width: 85%;
    margin-left: 15px;
    color: #b0b3b8;
}

.shortcut__copyright a,span {
    color: #b0b3b8;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-decoration: none;
}
.shortcut__copyright i {
    color: #b0b3b8;
}

.contacts{
    margin-left: 8%;
    height: 76%;
    width: 92%;
}
.contacts::-webkit-scrollbar {
    width: 8px; 
}
.contacts::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
.contacts::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.contacts__header{
    display: flex;
    height: 37px;
    align-items: flex-end;
    justify-content: space-between;
}
.contacts__header-text{
    margin: 0;
    color: #b0b3b8;
    font-size: 1.6rem;
    font-weight: 600;
}
.item-details-content__info {
    z-index: 3;
}

.contacts__header-icon{
    color: #b0b3b8;
    font-size: 1.4rem;
}
.header-icon-item {
    position: relative;
    margin-right: 25px;
    cursor: pointer;
}

.header-icon-item::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgba(225,225,225,.15);
    border-radius: 50%;
    top: -10px;
    right: -10px;
    display: none;
}

.header-icon-item:hover.header-icon-item::after {
    display: block;
}

.contacts__content-list-item{
    position: relative;
    display: flex;
    align-items: center;
    height: 52px;
    cursor: pointer;
}

.contacts__content-list-item img {
    position: relative;
    border-radius: 50%;
    margin-right: 12px;
    /* display: none; */
}

.contacts__content-list-item img::before {
    position: absolute;
    content: "";
    width: 100px; height: 100px;
    top: 0; left: 0;
    background-color: red;
}

.contacts__content-list-item p {
    color: #e4e6eb;
    font-size: 1.5rem;
    font-weight: 500;
}

.contacts__content-list-item::after {
    position: absolute;
    content: "";
    width: calc(100% + 6px); height: 100%;
    background-color: rgba(225,225,225,.15);
    border-radius: 10px;
    right: 0;
    display: none;
}

.contacts__content-list-item:hover.contacts__content-list-item::after {
    display: block;
}

.contacts__item-details {
    position: absolute;
    width: 400px;
    height: 162px;
    background-color: #242526;
    right: 372px;
    bottom: -68px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #242526;
    z-index: 1;
    display: none;
}

.item-details-content {
    margin: 6px 0;
}

.item-details-content {
    display: flex;
}

.item-details-content img {
    margin: 4px 0 27px 16px;
}

.item-details-content__info p {
    margin: 16px 0 12px 16px;
    font-size: 2rem;
    font-weight: 700;
}

.info-name-content {
    display: flex;
    align-items: center;
}

.info-name-content span {
    color: #e4e6eb;
    font-size: 1.5rem;
    font-weight: 400;
}

.info-name-content img {
    margin: 12px;
    border-radius: 0;
}

.info-name-content span strong:nth-child(2):hover {
    text-decoration: underline;
}

.contacts__content-list-item:hover .contacts__item-details {
    display: block;
}

.contacts__content-list-item::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 100%;
    top: 0;
    right: 348px;
    background-color: transition;
}

.newsFeed-sr{
    display: flex;
    margin: 0 39.8px;
}
.newsFeed__story{
    display: flex;
    height: 190px; width: 108px;
    border-radius: 8px;
    background-color: #242526;
    margin: 24px 4px 24px 4px;
    overflow: hidden;
    cursor: pointer;
}
.newsFeed__story-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.newsFeed__story-create:hover .newsFeed__story-create-img{
    transform: scale(1.05);
}

.newsFeed__story-create-img {
    display: flex;
    transition: all 0.3s ease;
}

.newsFeed__story-create-icon{
    position: relative;
    color: #fafcff;
    font-size: 2.4rem;
    top: 3px;
    right: -5px;
    z-index: 1;
}
.newsFeed__story-create--btn {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -16px;
}
.newsFeed__story-create--border {
    width: 40px;
    height: 39px;
    background-color: #2e89ff;
    /* right: 34px;
    bottom: 34px; */
    border-radius: 50%;
    border: 4px solid #242526;
}
.newsFeed__story-create-text{
    color: #dde3ea;
    font-size: 1.3rem;
    margin: 0 0 13px 0;
}

.newsFeed__story-list{
    display: flex;
    height: 190px;
    width: 556px;
    border-radius: 10px;
    margin: 24px 0px 24px 4px;
    overflow-x: auto;
    cursor: pointer;
}

.story-item{
    position: relative;
    height: 190px; width: 108px;
    overflow: hidden;
    margin: 0 8px 0 0;
}

.story-item__img{
    height: 100%; width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.story-item:hover .story-item__img{
    transform: scale(1.05);
}

.story-item__avatar{
    position: absolute;
    top: 14px;
    left: 14px;
}
.story-item__avatar img {
    border-radius: 50%;
}
.story-item__avatar--border {
    position: absolute;
    border: 4px solid #2e89ff;
    width: 40px; height: 40px;
    top: 0; left: 0;
    /* z-index: 2; */
    border-radius: 50%;
}

.story-item__name{
    position: absolute;
    font-size: 1.5rem;
    color: #f9fcff;
    bottom: 13px;
    left: 13px
}

.thinkBar{
    height: 123px;
    background-color: #242526;
    margin: 0px 39.8px 12px 39.8px;
    border-radius: 10px;
}
.thinkBar__input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaadac25;
}
.thinkBar__input-avatar {
    border-radius: 50%;
    margin: 12px 8px 12px 16px;
}   
.thinkBar__input-btn {
    margin: 14px 16px 12px 0;
    width: 600px; height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 9px 12px;
    font-size: 1.7rem;
    line-height: 1.7rem;
    background-color: #3a3b3c;
    color: #aaadac;
}
.thinkBar__input-btn::placeholder {
    color: #aaadac;

}
.thinkBar__options{
    display: flex;
    justify-content: space-around;
    margin: 0 16px;
}
.thinkBar__options-live-icon{
    color: #f02849;
    font-size: 2.4rem;
}
.thinkBar__options-title{
    color: #b0b3b8;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 6px;
}
.thinkBar__options-item{
    position: relative;
    display: flex;
    height: 60px; width: 216px;
    align-items: center; 
    justify-content: center;
}

.thinkBar__options-item::after {
    position: absolute;
    content: "";
    width: 100%; height: 40px;
    background-color: rgba(225,225,225,.15);
    border-radius: 6px;
    display: none;
}
.thinkBar__options-item:hover.thinkBar__options-item::after {
    display: block;
}

.thinkBar__options-photos-icon{
    color: #44ba60;
    font-size: 2.4rem;
}

.thinkBar__options-feel-icon{
    color: #f7b928;
    font-size: 2.4rem;
}
.rooms{
    margin: 12px 39.8px;
}
.rooms__list{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #242526;
    height: 66px;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.rooms__list::-webkit-scrollbar{
    position: absolute;
    height: 4px;
    display: none;
}
.rooms__list::-webkit-scrollbar-button {
    display: none;
}
.rooms__list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}
.rooms__list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
.rooms__list::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.rooms__list:hover.rooms__list::-webkit-scrollbar {
    display: block;
}
.rooms__list-item-create {
    display: flex;
    align-items: center;
    height: 40px; width: 195px;
    margin: 8px 16px 8px 16px;
    border: 2px solid #6662d4;
    border-radius: 30px;
    padding-left: 13px;
    cursor: pointer;
}
.rooms__list-item-video{
    color: #6662d4;
    font-size: 1.8rem;
    margin-right: 10px;
}
.rooms__list-item-title{
    color: #4599ff;
    font-size: 15px;
    font-weight: 600;
    width: 195px;
}

.rooms__list-item{
    margin: 0 8px;
    cursor: pointer;
}
.rooms__list-item-img{
    border-radius: 50%;
}

